<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.CS1" connectionString="Data Source=LAB01M09\SQLEXPRESS;Initial Catalog=Pizzaria_Management;Integrated Security=True" />
        <add name="DAL.Properties.Settings.CS2" connectionString="Data Source=DANIELFATEC-PC\SQLEXPRESS;Initial Catalog=Pizzaria_Management;Integrated Security=True" />
    </connectionStrings>
</configuration>